$color-white: #ffffff;

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
    min-height: 100vh;
    @include flexbox;
}

main {
    @include flexbox;
    flex-direction: column;
    gap: 20px;
}

.stopwatch {
    color: $color-white;
    font-family: sans-serif;
    text-transform: uppercase;

    &__clock {
        font-size: 24px;
    }
    
    &__buttons {
        display: flex;
        gap: 15px;
    }
}


.btn {
    background: none;
    border: 1px solid $color-white;
    color: $color-white;
    padding: 6px 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 400ms;
    font-size: 16px;

    &:hover {
        background-color: #ffffff22;
    }
}